<div class="modal-header">
  <h5 class="modal-title">Submit Vote</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <p class="mb-0">
        <strong>Topic:</strong> {{ vote.topicName }}
    </p>
    <span
        class="material-icons text-primary"
        style="font-size: 32px; cursor: pointer;"
        (click)="openDescriptionModal()"
        title="Description"
    >description</span>
  </div>

  <div *ngFor="let option of vote.options" class="card mb-3 shadow-sm">
    <div class="card-body d-flex justify-content-between align-items-center py-2 px-3">
      <div>
        <h6 class="card-title mb-1">{{ option.optionName }}</h6>
      </div>
      <div>
        <input
            type="radio"
            name="voteOption"
            [value]="option.id"
            [checked]="selectedOptionId === option.id"
            (change)="onOptionSelected(option.id)"
            class="form-check-input"
        />
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" [disabled]="!selectedOptionId" (click)="submitVote()">Submit Vote</button>
</div>
